@import "tailwindcss";

@theme {
  --color-primary: #6200FF;
  --color-primary-light: #9B79FF;
  --color-primary-dark: #3E00B7;
  --color-secondary: #FFBD00;
  --color-background: #F0F2F9;

  --color-success: #2ACC9A;
  --color-info: #FF7A49;
}

body {
  font-family: 'pretendard', sans-serif;
}